img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    filter: blur(1px) opacity(0.05);
    z-index: -1;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;

    .tab {
        text-align: center;
        width: 100%;     
        padding: 8px;
        color: #ccc;
        width: 40%;
        transition: width ease 0.1s;

        &.active {
            color: #000;
            font-weight: bold;
            width: 60%;
            background: rgba(37, 236, 226, 0.2);
        }
        
        &:first-child {
            border-right: 1px solid #ccc;
        }
    }
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db; /* Синий цвет */
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

.root {
    position: relative;
    padding-bottom: 110px;
    width: 100%;
    max-width: 736px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.hide {
    display: none;
}
