* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html, body {
    height: 100%;

    @media (min-width: 1024px) {
        padding: 30px;
    }
}
