.debts__wrapper {
    min-height: 100%;
    overflow-y: scroll;
    padding: 10px 10px 0 10px;

    &::-webkit-scrollbar {
        display: none;
    }
}
.not-debts__list {
    margin-top: 5px;
    padding-top: 10px;
}
.debts__list {

    .list--title {
        position: relative;
        padding-left: 20px;
        color: #3469a7;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 10px;
        font-size: 15px;

        &:before,
        &:after {
            content: '';
            transition: all ease 0.1s;
            position: absolute;
            display: block;
            background: #3469a7;
            width: 7px;
            height: 2px;
            top: 6px;
        }

        &:before {
            left: 0;
            transform: rotate(45deg);
        }

        &:after {
            left: 5px;
            transform: rotate(-45deg);
        }

    }

    &.opened {

        .list--title {

            &:before {
                transform: rotate(135deg);
            }

            &:after {
                transform: rotate(-135deg);
            }
        }
    }
}


.debt-row {
    padding: 5px 10px;
    display: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.2);
    background: #fcfcfc;

    .debts__list.opened & {
        display: block;
    }

    &:not(:last-child) {
        margin-bottom: 7px;
    }

    .row-first,
    .row-second {
        display: flex;
        justify-content: space-between;
        line-height: 17px;
        font-size: 14px;
    }

    .row-second {
        font-size: 12px;
        opacity: .9;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        gap: 10px;

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 20px;
            color: #fff;
            padding: 0 10px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 10px;

            &:hover {
                opacity: 0.8;
            }
        }

        .over-btn {
            background: rgb(95, 161, 95);

            &.get-back {
                background: rgb(183, 154, 6);
            }
        }
        .back-btn {
            background: rgba(139, 0, 0, 0.699);
        }
        .edit-btn {
            background: #6b6b6b;
        }

        &.hide {
            display: none;
        }
    }

    &.over {
        position: relative;
        display: block;

        .over-debt {
            position: absolute;
            opacity: 1;
            color: green;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 25px;
            font-weight: bold;
        }

        .row-first,
        .row-second {
           opacity: 0.3;
        }
    }
}
